PORT=8080
ENV=local   #local/staging/production
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=blueprint
BLUEPRINT_DB_USERNAME=
BLUEPRINT_DB_PASSWORD=
BLUEPRINT_DB_SCHEMA=public
BLUEPRINT_DB_SSLMODE=disable
